:root {
    --primary-color: #505033;
    --secondary-color: #264969;
    --accent-color: #cfcfb4;
    --background-color: #b4cde4;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    background-color: var(--background-color);
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-color);
    color: white;
}

header img {
    height: 50px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s; /* Agregar transición para el hover */
}

nav a:hover {
    color: var(--accent-color);
}

.contact-container {
    display: flex;
    padding: 20px;
    gap: 20px; /* Usar gap para separación entre elementos */
}

.contact-info,
.contact-form {
    background-color: white;
    border: 2px solid rgb(92, 87, 87);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.contact-form {
    width: 600px; /* Mantener el ancho para alineación */
}

.employee-profiles {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
    align-items: center;
}

.employee-profiles h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.employee-image {
    width: 120px;
    height: auto;
    border-radius: 50%; /* Cambiar a 50% para un círculo perfecto */
    margin: 10px;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form input[type="radio"] {
    margin-right: 5px;
}

.contact-form .message-purpose {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-form .message-purpose label {
    margin-right: 10px;
}

.contact-form button {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Agregar transición para el hover */
}

.contact-form button:hover {
    background-color: var(--accent-color);
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 20px;
}

.social-media {
    display: flex;
    gap: 10px;
}

.social-media img {
    width: 30px;
    height: auto;
}